@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-radial-custom {
    background-image: linear-gradient(
      90deg,
      rgba(0, 32, 37, 1) 0%,
      rgba(0, 3, 4, 1) 2%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 3, 4, 1) 98%,
      rgba(0, 32, 37, 1) 100%
    );
  }
  .blue-magiclog {
    color: #13AFEF
  }
  .bg-blue-magiclog {
    background-color: #13AFEF
  }
  .bg-darkblue-magiclog {
    background-color: #13B2EE
  }

  .scrollbar {
    scrollbar-width: thin; /* Estilo para Firefox */
    scrollbar-color: #13AFEF #1f2937; /* Color de la barra y de la pista */
  }
  
  /* Estilos para navegadores WebKit (Chrome, Safari) */
  .scrollbar::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra de desplazamiento */
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* Color del fondo de la pista */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #13B2EE; /* Color de la parte que se arrastra */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  /* Cambiar el color al hacer hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #13B2EE; /* Color al hacer hover */
  }
  

  
}
